header {
    font-size: 50px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    align-content: center;

}

body {
    background-color: black;
    text-align: center;
}